<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://vadigcs61730.eur.ad.sag:31000">cc374adc-fa04-4aa3-a319-6b613aa5b279</value>
  </record>
</IDataXMLCoder>
