<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://vadigcs61730.eur.ad.sag:31000">ad22bd67-64ad-43a3-a006-7cc91ddbb4fb</value>
  </record>
</IDataXMLCoder>
